/* Universal Start Here  */
*{
    margin:10px 10px;
    padding:0;
}

.awesome{
    display: flex;
    justify-content: center;
}
.myFacebook{
    font-size: 100px;
}
.fa-facebook{
    color:blue;
}
.youtubeVideo{
    font-size: 100px;
}
.fa-youtube{
    color:red;
}

/* Inline, Block , Inline-Block Elements Starts Here  */
.container{
    display: flex;
    justify-content: space-evenly;
}
.elements{
    border: 2px solid orangered;
    padding:20px;
    background-color: lightseagreen;
}
/* Inline, Block , Inline-Block Elements Ends Here   */

/* Positon Starts Here  */
.pool{
    position:absolute;
    left: 200px;
    
}
.water{
    position: relative;
    top:-80px;
}
.ring{
    position: relative;
    z-index: 1;
}
.boy{
    position: relative;
    top:70px;
    z-index: 2;
}
/* Position Ends Here  */

/* Table Starts Here */
.friends-table{
    position: relative;
    left: 600px;
    top: 50px;
    border: 2px solid orangered;
    border-collapse: collapse;
    box-shadow: 10px 10px 20px gray;
    
}
.headOfTable th, .bodyOfTable td{
    border: 1px solid brown;
    padding: 10px;
    background-color: lightsteelblue;
}
/* Table Ends Here  */



/* Semantic Tags Starts Here */
.semanticTags{
    margin: 100px 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}
.semanticTags h1{
    text-align: center;
    font-size: 40px;
    color:brown;
    margin-top: 10px;
    
}
.semanticTags h2::first-letter{
font-size: 30px;
color: brown;
}
.semanticTags h2{
    margin-top:10px;
    padding: 10px;
}
.semanticTags h2 p{
    display: block;
    margin-left: 20px;
}


 /* External Youtube Video Added Here  */
.externalVideo{
    width: 500px;
    display: inline-block;
    position: relative;
    left: 600px;
    margin-top: 50px;
}
 /* External Youtube Video Added Here  */